---
subtitle: Document Object Model
layout: base.njk
jsfile:
eleventyNavigation:
  key: Home
  order: 1
---
    
<div class="col-10 text-start">
    <h2>{{ subtitle }}</h2>
    <p>This week was our first look at the 
        <em>Document Object Model</em>
    </p>