---
subtitle: Document Object Model
layout: base.njk
jsfile:
eleventyNavigation:
  key: Home
  order: 1
---
    
<div class="col-10 text-start">
    <h2>{{ subtitle }}</h2>
    <p>This week was our first look at the 
        <em>Document Object Model</em>. Here are some of the Javascript
        functions we looked at:
    </p>
    <ul>
      <li><code>alert()</code></li>
      <li><code>document.getElementsByTagName()</code></li>
      <li><code>document.getElementById()</code></li>
      <li><code>document.createElement()</code></li>
      <li><code>document.createTextNode()</code></li>
      <li><code>element.addEventListener()</code></li>
      <li><code>element.appendChild()</code></li>
      <li><code>element.className = "new class name"</code></li>
      <li><code>element.innerHTML = "new content"</code></li>
      <li><code>element.src = "new source"</code></li>
      <li><code>element.style.color = "new colour"</code></li>
      <li><code>event.preventDefault()</code></li>
    </ul>

</div>